<div
    *ngIf="isCartVisible"
    class="z-10 fixed top-0 right-0 h-full w-[410px] bg-main-50 shadow-lg transition-transform duration-300 ease-in-out transform translate-x-0 flex flex-col px-4 py-2"
>
    <div class="flex justify-between items-center mb-4 border-b pb-2">
        <h2 class="font-bold text-main text-[2rem]">Your Cart</h2>
        <button (click)="closeCart()" class="hover:cursor-pointer">
            <img class="w-8 h-8" src="icons/exit.svg" alt="Close" />
        </button>
    </div>

    <div *ngIf="errorMessage && !isLoading" class="text-red-500 text-center py-4">
        <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="isLoading" class="flex flex-col items-center justify-center h-full">
        <img src="icons/loading.svg" alt="Loading..." class="w-12 h-12 animate-spin" />
        <p class="text-main text-xl font-semibold mt-2">Loading your cart...</p>
    </div>

    <div
        *ngIf="!isLoading && !errorMessage && (cartItems.length === 0 || !isLoggedIn)"
        class="flex flex-col items-center justify-center h-full text-center space-y-3"
    >
        <img src="trolley.svg" alt="Empty Cart" class="w-32 h-32 mb-2" />
        <p class="text-main text-lg font-semibold">Your cart is empty!</p>
        <p class="text-gray-500 text-sm">Start shopping to fill it up.</p>
        <button
            class="bg-main text-white px-5 py-2 rounded-lg hover:bg-main/90 transition"
            (click)="goToProducts()"
        >
            Shop Now
        </button>
    </div>

    <div
        *ngIf="!isLoading && !errorMessage && cartItems.length > 0"
        class="flex-grow overflow-y-auto space-y-1"
    >
        <div
            *ngFor="let item of cartItems; let i = index"
            class="flex gap-3 p-3 rounded-lg h-[150px]"
        >
            <img
                class="rounded-[10px] w-[100px] h-full object-cover border border-main"
                [src]="item.image"
                alt="{{ item.name }}"
            />

            <div class="bg-main rounded-[10px] flex flex-col justify-between p-2 w-full h-full">
                <div class="flex justify-between relative mb-1">
                    <p class="font-bold text-white text-sm leading-snug max-w-[85%] break-words">
                        {{ item.name }}
                    </p>
                    <img
                        src="icons/delete-item.svg"
                        alt="Delete"
                        (click)="removeItem(item)"
                        class="cursor-pointer absolute top-0 right-0 w-8 h-6"
                    />
                </div>

                <div class="flex gap-2 items-center">
                    <span class="text-white text-sm">${{ item.price.toFixed(2) }}</span>
                    <span class="text-[#A8A8A8] line-through text-xs"
                        >${{ item.oldPrice.toFixed(2) }}</span
                    >
                </div>

                <div class="flex items-center justify-center mt-1">
                    <div class="flex bg-main-50 rounded overflow-hidden">
                        <button class="px-2 py-1" (click)="decreaseQuantity(item)">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#6B3A27"
                                stroke-width="3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </button>
                        <span
                            class="w-[30px] h-[30px] bg-main text-main-50 flex items-center justify-center font-bold border-t border-b border-main-50"
                        >
                            {{ item.quantity }}
                        </span>
                        <button class="px-2 py-1" (click)="increaseQuantity(item)">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#6B3A27"
                                stroke-width="3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 space-y-3 border-t pt-3 px-1 mb-2">
        <div class="flex justify-between items-center">
            <h2 class="text-main text-[20px] font-semibold">Total Price</h2>
            <span class="text-[18px] text-[#7B7B7B]">${{ getTotalPrice() }}</span>
        </div>

        <button
            class="w-full bg-main text-white py-2 rounded-lg hover:bg-main/90 transition"
            [routerLink]="'/checkout'"
            [disabled]="cartItems.length === 0 || !isLoggedIn"
        >
            Checkout
        </button>

        <button
            class="w-full text-main font-semibold border border-main py-2 rounded-lg hover:bg-main-100 transition"
            (click)="clearCart()"
        >
            Clear All
        </button>
    </div>
</div>
