<div class="relative bg-[url('/ourProduct.png')] bg-cover bg-center bg-no-repeat p-14 h-[18rem]">
    <div class="absolute top-0 right-0 w-full h-full bg-black opacity-10"></div>
    <div class="relative z-1">
        <h1 class="text-white font-bold mb-5 text-3xl">Our Products</h1>
        <p class="text-white text-2xl max-w-[30rem]">
            Discover our carefully curated collection of products designed to meet your needs
        </p>
    </div>
</div>

<section class="grid md:grid-cols-[1fr] grid-cols-[1fr] justify-items-center ">

    <h1 class="text-2xl font-bold text-main text-center my-8 pb-2 border-b-4 border-main inline-block mx-auto"> Favorite Products </h1>
     <!-- Desktop -->

    <div class="flex flex-col">
        <!-- Cards -->
        <div class="flex flex-col">
            <div *ngIf="!loading && !emptyState" [ngClass]="cards.length >= 3? 'lg:grid-cols-3' : 'lg:grid-cols-auto-fit'" class="container grid md:grid-cols-2 justify-items-center mb-5 mx-auto">
                <div
                    class="flex flex-col bg-main rounded-[1rem] m-2 max-w-[20rem] "
                    *ngFor="let card of cards  index as i"
                >
                    <div class="relative group ">            
                        <img class="w-full h-full object-cover max-h-[18rem] rounded-[1rem]  group-hover:hidden" [src]="card.images[0]" /> 
                        <img class="w-full h-full object-cover max-h-[18rem] rounded-[1rem] hidden group-hover:block" [src]="card.images[1]" /> 

                        <img
                            class="absolute right-3 top-2 transtion-transform duration-300 translate-y-1 hover:translate-y-0"
                            [src]="
                                    this.favoriteCards.includes(card._id)
                                    ? 'images/trending/loved.svg'
                                    : 'images/trending/heart.svg'
                            "
                            (click)="removeFavorite(card._id)"
                        />
                    </div>
                    <div class="flex flex-col grow basis-0 justify-between items-between p-4 ">
                        <div class="flex flex-col gap-2 flex-1">
                            <div class="flex justify-between">
                                <div class="text-bold text-white text-[1.2rem]">
                                    {{ card.name }}
                                </div>
                                <div class="flex">
                                    <span *ngFor="let item of [1, 2, 3, 4, 5]; index as i">
                                        <svg
                                            class="text-yellow-400 w- h-6"
                                            [ngClass]="{
                                                'text-yellow-400': card.rating > i,
                                                'text-gray-400': card.rating <= i,
                                            }"
                                            viewBox="0 0 24 24"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M8.5 0.5L10.2961 6.71885H16.1085L11.4062 10.5623L13.2023 16.7812L8.5 12.9377L3.79772 16.7812L5.59383 10.5623L0.891548 6.71885H6.70389L8.5 0.5Z"
                                            />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="trending-card-text">$ {{ card.price }}</div>
                            <div
                                class="trending-card-text max-h-[5rem] overflow-hidden text-ellipsis"
                            >
                                {{ card.description }}
                            </div>
                        </div>
                        <button class="bg-main-50 hover:bg-gray-100 p-2 mt-4 rounded-[1rem] w-full" (click)="removeFavorite(card._id)">
                            <div class="flex justify-center gap-2">
                                <img src="images/trending/basket.svg" />
                                <span class="text-main text-bold treansition-all duration-300 ease-in-out" [ngClass]="{'scale-105': addedItems.includes(card._id)}">{{addedItems.includes(card._id) ? 'Added!' : 'Add to Cart'}}</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="emptyState" class="flex flex-col items-center justify-center p-12 text-center text-gray-600">
                <svg
                  class="w-28 h-28 mb-6 text-gray-300"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"></circle>
                  <path
                    d="M8 12h8"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <!-- Title -->
                <h2 class="text-2xl font-semibold text-gray-800 mb-2">
                  No Favorite Found
                </h2>
                <!-- Message -->
                <p class="max-w-md mb-4">
                  We couldn’t find any Favorite matching your criteria. Add Some.
                </p>
                <!-- Action Button -->
                <button (click)="navigateToProducts()"
                    class="bg-main hover:bg-main-700 text-white font-medium py-2 px-4 rounded">
                    Add Products
                </button>
              </div>
              

            <!-- Skeleton-card -->
           <app-skelaton-product-cards *ngIf="loading"/>

<!--            
            <div class="flex items-center justify-center mt-7 gap-3">
                <button class="btn-primary-small max-w-[2.5rem]" id="previous" (click)="changePage(-1)">
                    <svg
                        width="8"
                        height="11"
                        viewBox="0 0 11 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.3112 1.21787L10.3194 13.2179C10.3191 13.3394 10.2857 13.4585 10.2227 13.5624C10.1598 13.6663 10.0697 13.7511 9.96211 13.8076C9.85455 13.8641 9.73362 13.8902 9.61234 13.8831C9.49105 13.876 9.374 13.8359 9.27378 13.7672L0.603028 7.77315C0.243526 7.52473 0.243118 6.92606 0.602281 6.67648L9.26486 0.670579C9.36477 0.601061 9.48183 0.560254 9.60331 0.552592C9.72479 0.54493 9.84604 0.570706 9.9539 0.627119C10.0618 0.683533 10.1521 0.768426 10.2151 0.872575C10.2781 0.976724 10.3113 1.09615 10.3112 1.21787Z"
                            fill="#FDF6F3"
                        />
                    </svg>
                </button>
                <button class="btn-primary-small max-w-[2.5rem]" id="next" (click)="changePage(1)">
                    <svg
                        width="12"
                        height="13"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M3.33721 2.21787L3.32903 14.2179C3.32933 14.3394 3.36276 14.4585 3.42572 14.5624C3.48867 14.6663 3.57878 14.7511 3.68633 14.8076C3.79389 14.8641 3.91481 14.8902 4.0361 14.8831C4.15739 14.876 4.27444 14.8359 4.37466 14.7672L13.0454 8.77315C13.4049 8.52473 13.4053 7.92606 13.0462 7.67648L4.38358 1.67058C4.28366 1.60106 4.16661 1.56025 4.04513 1.55259C3.92365 1.54493 3.80239 1.57071 3.69454 1.62712C3.58668 1.68353 3.49634 1.76843 3.43334 1.87258C3.37035 1.97672 3.3371 2.09615 3.33721 2.21787Z"
                            fill="#FDF6F3"
                        />
                    </svg>
                </button>
            </div> -->

     
        </div>
    </div>
</section>

<app-our-reviews></app-our-reviews>
<app-cart></app-cart>

